<hr />
<div id ="footer">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Privacy", privacy_path %></li>
		<li><%= link_to "Terms", terms_path %></li>		
		<li><%= link_to "Help", help_path %></li>
	</ul>
</div>

